# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# Optional eslint cache
.eslintcache

# Logs
logs
*.log
npm-debug.log*

